div {
	border: 5px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;
	margin: auto;
}

p {
	width: 250px;
	display: inline-block;
	margin: auto;
}

#main-container {
	width: 100%;
	height: 100%;
	border: none;
}